/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_dark{
  --main-font: IBM Plex mono;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --text-color-with-bg: #000028;
  --bg-color: #000028;
  --section-heading-color: #ff0070;
  --heading-shadow-color:#FF0070;
}

.page.theme_dark {
  --main-font: IBM Plex mono;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --text-color-with-bg: #000028;
  --bg-color: #000028;
  --section-heading-color: #ff0070;
  --heading-shadow-color:#FF0070;
}
