.page.theme_light {
  --display: none;
  --main-font: "IBM Plex mono";
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --text-color-with-bg: #353430;
  --heading-shadow-color: #ff8dcb;
  --border-with-opacity: 50, 49, 45;
  --section-heading-color: #353430;
  --bg-color: #ffeef6;
  --bg-image:url('../images/cover-image-light.png');
}

.header_pseudo-element::before,
.header_pseudo-element::after {
  display: var(--display);
}

@media (prefers-color-scheme: light) {
  :root {
    --display: none;
    --main-font: "IBM Plex mono";
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-color: #ffc2e6;
    --text-color-with-bg: #353430;
    --heading-shadow-color: #ff8dcb;
    --border-with-opacity: 50, 49, 45;
    --section-heading-color: #353430;
    --bg-color: #ffeef6;
    --bg-image: url('../images/cover-image-light.png');
  }
}
