/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --display: visible;
  --main-font: "IBM Plex mono";
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --text-color-with-bg: #000028;
  --bg-color: #000028;
  --section-heading-color: #ff0070;
  --border-with-opacity: 255, 0, 112;
  --heading-shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}
